<div class="login-form w-100">
  <div class="form-signin w-100 m-auto text-center">
    <form [formGroup]="formGroup"> 
      <img class="mb-4" src="../../../assets/images/ametcito.png" alt="" width="250" height="250">
      <h1 class="h3 mb-3 fw-normal">Ingrese</h1>

      <div class="form-floating mb-3">
        <input type="text" formControlName="username" class="form-control rounded" id="floatingInput" placeholder="Username">
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" formControlName="password" class="form-control rounded" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recuerdame
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary rounded"
      [disabled]="!formGroup.valid" type="submit" (click)="logIn()">Ingresar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2023 Hyppo Software</p>
    </form>
  </div>
</div>
