<div class="container">
  <h1 class="text-center mb-5">Alumnos</h1>

<ng-container *ngIf="alumnos;else noAlumnos">
  
  <div class="float-right mb-3">
    <button type="button" class="btn btn-success btn-md rounded mx-2" routerLink="add">
      <i class="bi bi-database-fill-add"><span class="p-2">Agregar</span></i>
    </button>
  </div>


  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Nombre</th>
        <th>Carrera</th>
        <th>Condicion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of alumnos">
        <td>
          <div class="d-flex align-items-center">
            <a routerLink="/alumnos/{{ alumno.id }}">
            <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
          </a>
            <div class="ms-3">
                <p class="fw-bold mb-1">
                  {{ alumno.nombre }} {{ alumno.apellido }}
                </p>
              <p class="text-muted mb-0">{{ alumno.email }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Software Developer</p>
          <p class="text-muted mb-0">3 año</p>
        </td>
        <td>Regular</td>
        <td>
          <button type="button" [routerLink]="['edit', alumno.id]" class="btn btn-warning btn-sm rounded mx-2">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" (click)="deleteAlumno(alumno.id!)" class="btn btn-danger btn-sm rounded">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</ng-container>

<ng-template #noAlumnos>
  <h1>No hay alumnos para mostrar. Intentelo mas tarde</h1>
</ng-template>

<div class="my-4">
  <button type="button" class="btn btn-secondary btn-md rounded" routerLink="/admin">
    Volver
  </button>
</div>

</div>
