<div class="container">
  <h1 class="text-center mb-5 display-1">Examenes</h1>
 
  <ng-container *ngIf="listaFinales; else noExamen">
 
      <section>
          <div class="text-center container py-5">
 
            <div class="row">
 
              <div class="col-lg-4 col-md-12 mb-4" *ngFor="let final of listaFinales">
                <div class="card">
                  <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="https://images.pexels.com/photos/256395/pexels-photo-256395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                      class="w-100" />
                    <a href="#!">
                      <div class="mask">
                         <div class="d-flex justify-content-start align-items-end h-100">
                          <h5><span class="badge bg-success ms-2">Mesa de Examen</span></h5>
                        </div>
                      </div>
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                  <div class="card-body"> 
                      <ng-container class="mb-3" 
                          *ngFor="let asignatura of listaAsignaturas">
 
                          <h4 *ngFor="let materia of listaMaterias">  
                               {{ materia | getMateria : asignatura : final }}
                          </h4>
 
                          <h4 *ngFor="let docente of listaDocentes">  
                               {{ docente | getNombreDocente : asignatura : final }}
                          </h4>
 
                          </ng-container>
 
                          <h5><strong>Primer LLamado:</strong></h5>
                          <h4>{{ final.primer_llamado | date }}</h4>
                          <h5><strong>Segundo LLamado:</strong></h5>
                          <h4>{{ final.segundo_llamado | date }}</h4>
 
                          <button class="btn btn-primary rounded btn-lg mt-2">Ver mas</button>
                  </div>
                </div>
              </div>
 
            </div>
 
          </div>
        </section>
 
  </ng-container>
 
  <ng-template #noExamen>
    <h1>No hay Examenes para mostrar. Intentelo mas tarde</h1>
  </ng-template>
</div>