<div class="d-flex mb-3">
    <div class="p-2">
      <button
        class="btn btn-primary btn-md rounded"
        type="button"
        routerLink="/{{ linkRegreso }}"
      >
        <i class="bi bi-arrow-left-circle"></i>
      </button>
    </div>
  
    <div class="ms-auto p-2">
      <button
        type="button"
        class="btn btn-success btn-md rounded"
        routerLink="{{ linkCrear }}"
      >
        <i class="bi bi-database-fill-add"><span class="p-2">Agregar</span></i>
      </button>
    </div>
  </div>
