<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <h1 class="text-center display-1 my-2">Perfil del Alumno</h1>

      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #593196; height: 200px"
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img
                src="../../../../../assets/images/single-user.png"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2 rounded"
                style="width: 150px; z-index: 1"
              />
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5>{{ alumno | getAlumnoFullName }}</h5>
              <h5>Legajo: {{ alumno?.legajo }}</h5>
            </div>
          </div>

          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <div class="p-4" style="background-color: #f8f9fa">
                <div class="row g-2">
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Nombre</h5>
                    <h5 class="fw-light mb-1">{{ alumno?.nombre }}</h5>
                  </div>
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Apellido</h5>
                    <h5 class="fw-light mb-1">{{ alumno?.apellido }}</h5>
                  </div>
                </div>

                <div class="row g-2 mt-2">
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Dni</h5>
                    <h5 class="fw-light mb-1">{{ alumno?.dni }}</h5>
                  </div>
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Fecha de Nacimiento</h5>
                    <h5 class="fw-light mb-1">{{ alumno?.f_nac | date }}</h5>
                  </div>
                </div>

                <div class="row g-2 mt-2">
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Telefono</h5>
                    <h5 class="fw-light mb-1">{{ alumno?.telefono }}</h5>
                  </div>
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Estado</h5>
                    <h5 class="fw-light mb-1">{{ alumno?.estado ? 'Regular' : 'Inactivo'  }}</h5>
                  </div>
                </div>

                <div class="row g-2 mt-2">
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Email</h5>
                    <h5 class="fw-light mb-1">{{ alumno?.email }}</h5>
                  </div>
                </div>

                <div class="row g-2 mt-2">
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Carrera</h5>
                    <h5 class="fw-light mb-1">{{ alumno! | getCarrera }}</h5>
                  </div>
                  <div class="col mb-2">
                    <h5 class="fw-medium mb-1">Curso</h5>
                    <h5 class="fw-light mb-1">{{ alumno?.curso }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 col-4 mx-auto my-3">
      <button class="btn btn-primary" type="button" routerLink="{{ link }}">
        Volver
      </button>
    </div>
  </div>
</section>
