<div class="container">
  <section>
    <div class="row d-flex justify-content-center">
      <h1 class="text-center mb-5 display-1">Docentes</h1>
    </div>

    <app-go-back-and-create-bar
      [linkRegreso]="links.linkRegreso"
      [linkCrear]="links.linkCreacion"
    ></app-go-back-and-create-bar>


    <ng-container *ngIf="docentes; else noDocentes">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <app-docentes-grid
          *ngFor="let docente of docentes"
          [docente]="docente"
          [link]="docente.id"
        ></app-docentes-grid>
      </div>
    </ng-container>

    <ng-template #noDocentes>
      <h1>No hay docentes para mostrar. Intentelo mas tarde</h1>
    </ng-template>
  </section>
</div>
