<div class="container">
  <section>
    <div class="row d-flex justify-content-center">
      <h1 class="text-center mb-5 display-1">Docentes</h1>
    </div>

    <div class="d-flex mb-3">
      <div class="p-2">
        <button
          class="btn btn-primary btn-md rounded"
          type="button"
          routerLink="/admin"
        >
          <i class="bi bi-arrow-left-circle"></i>
        </button>
      </div>

      <div class="ms-auto p-2">
        <button
          type="button"
          class="btn btn-success btn-md rounded"
          routerLink="create/new"
        >
          <i class="bi bi-database-fill-add"
            ><span class="p-2">Agregar</span></i
          >
        </button>
      </div>
    </div>

    <ng-container *ngIf="docentes; else noDocentes">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <app-docentes-grid
          *ngFor="let docente of docentes"
          [docente]="docente"
          [link]="docente.id"
        ></app-docentes-grid>
      </div>
    </ng-container>

    <ng-template #noDocentes>
      <h1>No hay docentes para mostrar. Intentelo mas tarde</h1>
    </ng-template>
  </section>
</div>
