<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-15">
                  <img
                    src="https://img.icons8.com/bubbles/100/000000/user.png"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6 class="f-w-600">{{ alumno?.nombre }} {{ alumno?.apellido }} </h6>
                <h6>Regular</h6>
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="card-block">
                <h4 class="m-b-20 p-b-5 b-b-default f-w-600">Datos Personales</h4>
                <div class="row">
                  
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Nombre</p>
                    <h6 class="text-muted f-w-400">{{ alumno?.nombre }}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Apellido</p>
                    <h6 class="text-muted f-w-400">{{ alumno?.apellido }}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Telefono</p>
                    <h6 class="text-muted f-w-400">{{ alumno?.telefono }}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">{{ alumno?.email }}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Carrera</p>
                    <h6 class="text-muted f-w-400">{{ alumno?.carreraId }}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Año</p>
                    <h6 class="text-muted f-w-400">3</h6>
                  </div>
                  
                  
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-4">
    <button type="button" class="btn btn-secondary btn-md rounded" routerLink="/alumnos">
      Volver
    </button>
  </div>

</div>
