<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #593196; height: 200px"
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2 rounded"
                style="width: 150px; z-index: 1"
              />
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5>Alumno Nombre</h5>
              <p>Alumno Carrera</p>
            </div>
          </div>

          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <div class="p-4" style="background-color: #f8f9fa">
                <div class="row g-2">
                  <div class="col mb-2">
                    <h4 class="font-italic mb-1">Nombre</h4>
                    <h5 class="font-italic mb-1">{{ alumno?.nombre }}</h5>
                  </div>
                  <div class="col mb-2">
                    <h4 class="font-italic mb-1">Apellido</h4>
                    <h5 class="font-italic mb-1">{{ alumno?.apellido }}</h5>
                  </div>
                  <div class="col mb-2">
                    <h4 class="font-italic mb-1">Legajo</h4>
                    <h5 class="font-italic mb-1">{{ alumno?.legajo }}</h5>
                  </div>
                </div>

                <div class="row g-2 mt-2">
                  <div class="col mb-2">
                    <h4 class="font-italic mb-1">Dni</h4>
                    <h5 class="font-italic mb-1">{{ alumno?.dni }}</h5>
                  </div>
                  <div class="col mb-2">
                    <h4 class="font-italic mb-1">Email</h4>
                    <h5 class="font-italic mb-1">{{ alumno?.email }}</h5>
                  </div>
                </div>

                <div class="row g-2 mt-2">
                  <div class="col mb-2">
                    <h4 class="font-italic mb-1">Telefono</h4>
                    <h5 class="font-italic mb-1">{{ alumno?.telefono }}</h5>
                  </div>
                  <div class="col mb-2">
                    <h4 class="font-italic mb-1">Estado</h4>
                    <h5 class="font-italic mb-1">{{ alumno?.estado }}</h5>
                  </div>
                </div>

                <div class="row g-2 mt-2">
                  <div class="col mb-2">
                    <h4 class="font-italic mb-1">Carrera</h4>
                    <h5 class="font-italic mb-1">{{ alumno?.carreraId }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


